/* CSS crunched with Crunch - http://crunchapp.net/ */
body{width:100%;position:absolute;}body .hidden{display:none;}
body #fadescreen{position:relative;top:0px;left:0px;}
body #container #wrapper{overflow-y:scroll;width:300px;height:400px;background:teal;}body #container #wrapper .characters{border:1px dashed #000000;}body #container #wrapper .characters .nameInTitle{font-weight:bold;}
body #container #wrapper .characters .bio{max-height:300px;text-overflow:ellipses;overflow-y:scroll;}body #container #wrapper .characters .bio p{margin-top:0px;}
body #container #wrapper .characters .bio img{width:150px;}
